<html>
  <head>
    <style>
      .author {
        font-size: 0.8em;
        color: #999;
      }
    </style>
  </head>
  <body>
    <div>
      <%= @message %>
      <p class="author">Author: <a href="https://github.com/ctfdavis" target="_blank">ctfdavis</a></p>
    </div>
  </body>
</html>
