<div>
  <h1 class="font-bold">Homepage of PhxTodoApi</h1>
  <p>Check mailbox: <.link href="/dev/mailbox" target="_blank" class="underline">enter</.link></p>
  <p>Swagger UI: <.link href="/swagger-ui" target="_blank" class="underline">enter</.link></p>
</div>
